*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color:#003333;
}
.title
{
    position: absolute;
    top:50%;
    margin-left: 5%;
    text-align: center;
    color: aliceblue;
    font-size: 45px;
    font-family: 'Calistoga', cursive;

}

Section
{
    height: 90%;
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: justify;
    color: white;
}

section h2
{
    text-align: center;
    size: 400px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

.navHomeStyle
{
    list-style:none;
    height:100%;
    width: 16%;
    margin-top: -64px;
    margin-left: 10px;
    background-color: #005555;
    color: whitesmoke;
    position: fixed;
}

.liStyle
{
    height: 25%;
    width: 100%;
    text-align: center;
    color: #B3CDE0 !important;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    
}
.liStyle:hover
{
    background-color: #003333;
    color: white;
}
li a
{
    text-decoration: none;
    color: azure;

}

.mockflowBg
{
    height: 400px;
    width: 700px;
    background-image: url(../img/mockflow.png);
    background-size: cover;
}
.InvisionBg
{
    height: 400px;
    width: 700px;
    background-image: url(../img/invision.png);
    background-size: cover;
}

.adobeXdBg
{
    height: 400px;
    width: 700px;
    background-image: url(../img/xd.png);
    background-size: cover;
}

